<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>解く問題を選ぶ</title>
</head>
<body>
	<form method="POST" th:action="@{/quiz/choose}" th:object="${quizForm}">
		<h1>解く問題の設定</h1>
		<label>資格試験コード:</label>
		<input type="number"  th:field="*{tar}">
		<label>　分類コード:</label>
		<input type="number"  th:field="*{vide}">
		<br>
		<p th:if="${setting}" th:text="${setting}" style="color:blue"></p>
		<input type="submit" value="設定する">
		<br>
	</form>
	<form mehod="GET" th:action="@{/quiz/choosequiz}">
		<br>
		<input type="submit" value="解答を開始する">
	</form>
</body>
</html>
